@import "tailwindcss";

@theme {
    --color-foreground: #fafaff;
    --color-bg: #1c1c1c;
    --color-accent: #4a4e69;
    --text-sm: 12px;
    --text-md: 14px;
    --text-lg: 16px;
    --text-xl: 18px;
    --text-2xl: 20px;
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
    --color-bg: #fafaff;
    --color-foreground: #1c1c1c;
}